body {
    background-color: #0a0a23;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }

  #instructions {
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    position: absolute;
    top: 62%;
    text-align: center;
    padding: 5px;
    width: 380px;
  }

  #instructions:hover {
    cursor: pointer;
    background-image: linear-gradient(#ffac33, #fecc4c, #ffac33);
  }

  li {
    text-align: left;
  }

  summary {
    text-decoration: underline;
  }
  
  #game {
    width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 10px;
  }

  #controls {
    display: flex;
    justify-content: space-around;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
    padding: 0 10px 0 10px;
  }
